@import 'tailwindcss';

[data-theme='light'] {
  --color-bg: #f5f5f5;
  --color-container: #ffffff;
  --color-box: #fafafa;
  --color-text: #1a1a1a;
}

[data-theme='dark'] {
  --color-bg: #121212;
  --color-container: #1e1e1e;
  --color-box: #2a2a2a;
  --color-text: #e5e5e5;
}

